/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.title {
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold */
  padding: 10px 20px; /* Add padding to create space around the text */
  margin-bottom: 20px; /* Add some space below the title */
  border-bottom: 2px solid #3498db; /* Add a border to the bottom of the title */
  color: #3498db; /* Set text color */
}

/* .box {
  display: grid;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  grid-template-columns: repeat(2, 1fr);

  width: 200px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  column-gap: 50px;
}

.items {
  display: flex;
} */

/* BOX componet */
.box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-item {
  width: 500px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  margin-right: 10px; /* Ain as needed */
  overflow-y: auto;
}

.box-item-title {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  font-weight: bold;
}

.items {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  align-items: center;
  /* justify-content: center; */
}

.items li {
  margin-bottom: 10px; /* Adjust margin as needed */
  margin-right: 10px;

  height: 20px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.804);
  background: rgb(62, 102, 156);

  cursor: pointer;
}

.box-item + .box-item {
  border-left: 1px solid #ccc;
}

/* Styling for the vertical scrollbar */
.box-item::-webkit-scrollbar {
  width: 5px; /* Adjust width of the scrollbar */
}

.box-item::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Roundness of the scrollbar thumb */
}

.box-item::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Color of the scrollbar thumb on hover */
}

.box-item::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}

/* FILTER component */

.filter {
  margin-top: 50px;
  text-align: center;
}

/* Responsive */

@media only screen and (max-width: 1040px) {
  .box {
    top: 65%;
  }

  .box-item {
    width: 300px;
  }

  .filter {
    margin-top: 65px;
  }
}
@media only screen and (max-width: 660px) {
  .box {
    top: 85%;
    flex-direction: column;
    row-gap: 10px;
  }

  .box-item + .box-item {
    border-left: none;
  }
}
